@import "base";

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font: $font-stack;
 
  
}

//button for contact modal
#contact  {
    left: 85%;
    position: absolute;
    font-size: 100%;
    text-decoration: none;
    font-weight: bold;
    color: $base-color;
    background-color: $base-white;
    border-color: $base-white;
    cursor: pointer;
  }

  h1 {
    font-size: 300%;
    text-transform: uppercase;
    margin: 0;
  }
  .banner-img {
    //background-image: url(../images/tree.png);
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    
  }

  //main content banner
  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 65%;
    padding: 40px 0;
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color: $base-color;
    color: set-text-color($base-color);
    font-weight: bold;
    border: 10px inset #fff;

   p {
      padding: 0 8%;
    }
    a {
      @include aBtn();
    }
  }
   
  //contactmodal settings
  .modal{
    position: fixed;
    top: 20%;
    left:70%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 5px inset ;
    border-radius: 10px;
    width: 30%;
    max-width: 80%;
    z-index: 10;
    color: $base-color;
    background-color:$base-white;

    .modal-header{
      padding: 3%;
      display: flex;
      justify-content: space-between;
      align-items: center;    
    }
    .modal-header .close-button{
      cursor: pointer;
      border: none;
      outline: none;
      background: none;
      font-size: 1.23rem;
      font-weight: bold;
     margin-left: 80%;
     color: $base-color; 
    }

    .modal-body{
      padding: 2%;
      margin-left: 10%;
      font-size: 1.25rem;
      font-weight: bold;
      
    }
  }
  .modal.active{
    transform: translate(-50%, -50%) scale(1);
  }
  #overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $base-color;
    pointer-events: none;
    
  }
  #overlay.active{
    opacity: 1;
    pointer-events: all;
  }
 
  //work output
  #showWork
  {
    padding: 40px 0;
    text-align: center;
    background-image: url(../images/work.jpg);
    width: 70%;
    color: $font-color;
    font-weight: bold;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center center;
    
    #work{
      background: rgba(0,0,0,0.3);
      backdrop-filter:blur(10px);
      color: white;
      height: 100%;
      width: 70%;
      margin: auto;
      
    }
    
    .workContent{
      text-align: left;
      margin-left: 10%;
      li{
        padding: 2%;
        list-style: none;
      }
      
    }

  }

  //study output
  #showStudy
  {
    @extend #showWork;
    background-image: url(../images/bok.jpg);
    margin-top: 10%;
  
     #studyTable
  {
    margin: auto;
    margin-bottom: 2%;
    padding: 2%;
    background: rgba(0,0,0,0.3);
    backdrop-filter:blur(10px);
    color: white;
    text-align: left;
    width: 70%;
    height: 100%;

    th{
      text-transform: uppercase;
      text-decoration: underline;
      padding-left: 2%;
    }
    td{
      padding-left: 2%;
    }
  }
  }
 #showSite{
  @extend #showWork;
  background-image: url(../images/sites.jpg);
  
  margin-top: 10%;
  a{
    
    color: $base-white;
    font-size: 150%;
  }
  #sites{
    margin-top: 1%;
    //margin-left: 20%;
    margin: auto;
    //padding: 2%;
    background: rgba(0,0,0,0.3);
    backdrop-filter:blur(10px);
    color: white;
    text-align: left;
    max-width: 70%;

    .sitesContent{
      margin-top: 3%;
    }
  }
 }
  #SiteSlider{
    
    padding: 0;
   // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   

    .slider{
      width: 37.5rem;
      //height: 37.5rem;
      border-radius: 10px;
      overflow: hidden;
    }
    .slides{
      margin-top: 10%;
      margin-bottom: 10%;
      width: 500%;
     // height: 525px;
      display: flex;
      input{
        display: none;
      }
    }
    
    .slide{
      width: 20%;
      transition: 2s;
      img{
        width: unset;
      }
    }

    .navigation-manual{
      position: absolute;
      width: 600px;
      margin-top: -40px;
      display: flex;
      justify-content: center;

      .manual-btn{
        border:2px solid $base-color;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition:1s;
      }
    }
    .manual-btn:not(:last-child){
      margin-right: 40px;
      
    }
    .manual-btn:hover{
      background: $base-color;
    }
    #radio1:checked ~ .first{
      margin-left: 0;
    }
    #radio2:checked ~ .first{
      margin-left: -20%;
    }
    #radio3:checked ~ .first{
      margin-left: -40%;
    }
    #radio4:checked ~ .first{
      margin-left: -60%;
    }
    .navigation-auto{
      position: absolute;
     display: flex;
     width: 600px;
     justify-content: center;
     margin-top: -40px;
     display: none;
     

      div{
        border:  2px solid $base-color;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
      }
      div:not(:last-child){
        margin-right: 40px;
      }
      #radio1:checked ~.navigation-auto .auto-btn1{
        background: $base-color;
      }
      #radio2:checked ~.navigation-auto .auto-btn2{
        background: $base-color;
      }
      #radio3:checked ~.navigation-auto .auto-btn3{
        background: $base-color;
      }
      #radio4:checked ~.navigation-auto .auto-btn4{
        background: $base-color;
      }
    }
  }
  footer{
    background-color: $base-color;
    text-align: center;
    margin-top: 3%;
    color: $base-white;
    padding: 3%;
  }
 
 
 

  

